{% extends 'base.html.twig' %}

{% block title %}Accueil - TravelParadise{% endblock %}

{% block body %}

<section class="hero-section hero-img h-100">
  <div class="container mt-5">
      <div class="row">
          <div class="col-lg-6">
            <section class="hero-section hero-card">
                  <h1>Espace administration</h1>
                  <a href="/login" class="btn btn-submit mt-4">Se connecter</a>
            </section>
          </div>
          <div class="col-lg-6">
            <section class="hero-section hero-card">
                  <h1>Espace guide touristique</h1>
                  <a href="/guide/login" class="btn btn-submit mt-4">Se connecter</a>
            </section>
          </div>
      </div>
  </div>
</section>

{% endblock %}
